canvas { display: block; } // prevent inline, since the browser preserves whitespace around inline elems

.canvas-container {
  position: relative;
  display: block;
  width: 128px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}